h1{text-align: center;}

body {
    background: #02576c;
    color: white;
    
  }

  .content-section {
    margin:8px;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding-bottom: 20px;
  }  